<a href="https://colab.research.google.com/github/sheriff18/Me/blob/main/Sheriff_Alidu_Q3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "SHERIFF ALIDU"

---

# Q3: Pandas

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Write a function `average_base_pay(df)` that takes a dataframe and returns the average BasePay.

In [ ]:
import pandas as pd
def average_base_pay(df):


    avg = df['BasePay'].mean()
    return avg

In [ ]:


def test_average_base_pay():

q) Write a function `highest_overtime_pay(df)` that takes a dataframe and returns the highest OvertimePay.

In [ ]:
def highest_overtime_pay(df):


    max_overtime = df['OvertimePay'].max()
    return max_overtime

In [ ]:

def test_highest_overtime_pay(df):

Write a function `job_title_of(df, name)` that takes a dataframe and a name, and returns the job title of the person with the given name. Make sure the name is case insensitive.

In [ ]:
def job_title_of(df, name):

    lowblock = name.lower()
    new = df[df['Name'].str.lower() == lowblock]

    if new.empty:
        return None
    else:
        job = new['JobTitle'].iloc[0]
        return job

In [ ]:
def test_job_title_of():
    """Check that job_title_of returns the correct output for several inputs"""

Write a function `total_pay_benefits_of(df, name)` that takes a dataframe and a name, and returns the total pay benefits of the person with the given name. Make sure the name is case insensitive.

In [ ]:
def total_pay_benefits_of(df, name):
    lowblock = name.lower()
    new = df[df['EmployeeName'].str.lower() == lowblock]

    if new.empty:
        return None
    else:
        total_pay_benefits = new['TotalPayBenefits'].iloc[0]
        return total_pay_benefits

In [ ]:
def test_total_pay_benefits_of():
    """Check that total_pay_benefits_of returns the correct output for several inputs"""

Write a function `highest_paid_person(df)` that takes a dataframe and returns the name of the highest paid person (including benefits).

In [ ]:
def highest_paid_person(df):
    """Find the name of the highest paid person in the dataframe.

    Args:
        df: A dataframe with columns 'EmployeeName' and 'TotalPayBenefits' containing strings and numerical values, respectively.

    Returns:
        The name of the highest paid person as a string.
    """
    highest_salary_row = df.loc[df['Salary'].idxmax()]
    highest_paid_person_name = highest_salary_row['Name']
    return highest_paid_person_name
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
def test_highest_paid_person():
    """Check that highest_paid_person returns the correct output for several inputs"""

Write a function `lowest_paid_person(df)` that takes a dataframe and returns the name of the lowest paid person (including benefits).

In [ ]:
def lowest_paid_person(df):
    """Find the name of the lowest paid person in the dataframe.

    Args:
        df: A dataframe with columns 'EmployeeName' and 'TotalPayBenefits' containing strings and numerical values, respectively.

    Returns:
        The name of the lowest paid person as a string.
    """
    lowest_salary_row = df.loc[df['TotalPayBenefits'].idxmin()]
    lowest_paid_person_name = lowest_salary_row['EmployeeName']
    return lowest_paid_person_name
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
def test_lowest_paid_person():
    """Check that lowest_paid_person returns the correct output for several inputs"""

Write a function `average_base_pay_per_year(df, year_start, year_end)` that takes a dataframe and a start and end year, and returns the average (mean) BasePay of all employees per year within the given range (inclusive).

In [ ]:
def average_base_pay_per_year(df, year_start, year_end):
    """Compute the average base pay per year in the given range.

    Args:
        df: A dataframe with columns 'BasePay' and 'Year' containing numerical values.
        year_start: An integer representing the start year.
        year_end: An integer representing the end year.

    Returns:
        A dictionary where the keys are the years and the values are the average base pay for that year.
    """
    new = df[(df['Year'] >= year_start) & (df['Year'] <= year_end)]

    average_pay_per_year = new.groupby('Year')['BasePay'].mean()

    return average_pay_per_year
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
def test_average_base_pay_per_year():
    """Check that average_base_pay_per_year returns the correct output for several inputs"""

Write a function `unique_job_titles(df)` that takes a dataframe and returns the number of unique job titles.

In [ ]:
def unique_job_titles(df):
    """Find the number of unique job titles in the dataframe.

    Args:
        df: A dataframe with a column 'JobTitle' containing strings.

    Returns:
        The number of unique job titles as an integer.
    """
    # YOUR CODE HERE
    unique = df['JobTitle'].nunique()
    return unique
    raise NotImplementedError()

In [ ]:
def test_unique_job_titles():
    """Check that unique_job_titles returns the correct output for several inputs"""

Write a function `top_5_common_jobs(df)` that takes a dataframe and returns the top 5 most common jobs.

In [ ]:
def top_5_common_jobs(df):
    """Find the top 5 most common jobs in the dataframe.

    Args:
        df: A dataframe with a column 'JobTitle' containing strings.

    Returns:
        A list of strings representing the top 5 most common jobs.
    """
    cnt = df['JobTitle'].value_counts()
    top_5 = cnt.head(5)
    return top_5


    # YOUR CODE HERE

In [ ]:
def test_top_5_common_jobs():
    """Check that top_5_common_jobs returns the correct output for several inputs"""

Write a function `job_titles_with_one_occurence(df, year)` that takes a dataframe and a year, and returns the number of job titles that were represented by only one person in that year.

In [ ]:
from io import open_code
def job_titles_with_one_occurence(df, year):
    """Find the number of job titles that were represented by only one person in a given year.

    Args:
        df: A dataframe with columns 'JobTitle' and 'Year' containing strings and numerical values, respectively.
        year: An integer representing a year.

    Returns:
        The number of job titles represented by only one person as an integer.
    """
    # YOUR CODE HERE
    df_year = df[df['Year'] == year]
    cnt = df_year['JobTitle'].value_counts()
    once = (cnt == 1).sum()
    return once
    raise NotImplementedError()

In [ ]:
def test_job_titles_with_one_occurence():
    """Check that job_titles_with_one_occurence returns the correct output for several inputs"""

Write a function `employees_with_chief_in_title(df)` that takes a dataframe and returns the number of people who have the word "Chief" in their job title. Make sure to account for different cases and placements of the word "Chief".

In [ ]:
import re
def employees_with_chief_in_title(df):
    """Find the number of people who have the word "Chief" in their job title.

    Args:
        df: A dataframe with a column 'JobTitle' containing strings.

    Returns:
        The number of people who have "Chief" in their job title as an integer.
    """
    # YOUR CODE HERE
    pattern = re.compile(r'\bchief\b', flags=re.IGNORECASE)
    df['Chief'] = df['JobTitle'].apply(lambda title: bool(pattern.search(title)))
    chief_count = df['Chief'].sum()


    return chief_count


    raise NotImplementedError()

In [ ]:
def test_employees_with_chief_in_title():
    """Check that employees_with_chief_in_title returns the correct output for several inputs"""

Write a function `correlation_title_length_salary(df)` that takes a dataframe and returns the correlation between length of the Job Title string and Salary.

In [ ]:
def correlation_title_length_salary(df):
    """Compute the correlation between length of the job title and salary.

    Args:
        df: A dataframe with columns 'JobTitle' and 'TotalPayBenefits' containing strings and numerical values, respectively.

    Returns:
        The correlation as a float.
    """



    # YOUR CODE HERE
    df['TitleLength'] = df['JobTitle'].str.len()
    correlation = df['TitleLength'].corr(df['Salary'])

    return correlation

In [ ]:
def test_correlation_title_length_salary():

    """Check that correlation_title_length_salary returns the correct output for several inputs"""